In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
response = requests.get('http://www.popvortex.com/music/charts/top-100-songs.php')
response

In [20]:
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify())

In [17]:
songs_tags = soup.select('.title')
artists_tags = soup.select('.artist')

In [11]:
songs = [tag.text for tag in songs_tags]
artists = [tag.text for tag in artists_tags]

In [12]:
df = pd.DataFrame({'Song': songs, 'Artist': artists})

In [13]:
df

                                          Song                        Artist
0                               Margaritaville                 Jimmy Buffett
1                                  Come Monday                 Jimmy Buffett
2                   Rich Men North of Richmond          Oliver Anthony Music
3                     Cheeseburger In Paradise                 Jimmy Buffett
4   Changes In Latitudes, Changes In Attitudes                 Jimmy Buffett
..                                         ...                           ...
95                            Bring Me to Life                   Evanescence
96                                      Demons                      Doja Cat
97                           Edge of Seventeen                  Stevie Nicks
98                             Bad Moon Rising  Creedence Clearwater Revival
99                                    Rhiannon                 Fleetwood Mac

[100 rows x 2 columns]