In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [3]:
response = requests.get(url)
response

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify())

In [5]:
#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter > tbody > tr:nth-child(2) > td:nth-child(1)
#//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[2]/td[1]

In [6]:
table = soup.select('table')[0]

In [7]:
trs = table.select('tr')

In [18]:
lanuages = []
speakers = []
for tr in trs:
    tds = tr.select('td')
    if tds:
        language = tds[0].get_text(strip=True)
        speaker = tds[1].get_text(strip=True).replace("\n", "").replace(',', '')
        lanuages.append(language)
        speakers.append(speaker)

df = pd.DataFrame({'Language': lanuages, 'Native Speakers': speakers})

In [19]:
df.head(10)

                                            Language Native Speakers
0  Mandarin Chinese(incl.Standard Chinese, but ex...             939
1                                            Spanish             485
2                                            English             380
3               Hindi(excl.Urdu, andother languages)             345
4                                         Portuguese             236
5                                            Bengali             234
6                                            Russian             147
7                                           Japanese             123
8                        Yue Chinese(incl.Cantonese)            86.1
9                                         Vietnamese            85.0

In [20]:
df['Native Speakers'] = df['Native Speakers'].str.replace(',', '').str.extract('(\d+\.\d+|\d+)').astype(float)

df['Native Speakers'] = df['Native Speakers'] * 1000000

df_sorted = df.sort_values(by='Native Speakers', ascending=False)

In [21]:
df_sorted.head(10)

                                            Language  Native Speakers
0  Mandarin Chinese(incl.Standard Chinese, but ex...      939000000.0
1                                            Spanish      485000000.0
2                                            English      380000000.0
3               Hindi(excl.Urdu, andother languages)      345000000.0
4                                         Portuguese      236000000.0
5                                            Bengali      234000000.0
6                                            Russian      147000000.0
7                                           Japanese      123000000.0
8                        Yue Chinese(incl.Cantonese)       86100000.0
9                                         Vietnamese       85000000.0