## Part 1

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
response = requests.get('http://www.popvortex.com/music/charts/top-100-songs.php')
response

In [20]:
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify())

In [17]:
songs_tags = soup.select('.title')
artists_tags = soup.select('.artist')

In [11]:
songs = [tag.text for tag in songs_tags]
artists = [tag.text for tag in artists_tags]

In [12]:
df = pd.DataFrame({'Song': songs, 'Artist': artists})

In [13]:
df

                                          Song                        Artist
0                               Margaritaville                 Jimmy Buffett
1                                  Come Monday                 Jimmy Buffett
2                   Rich Men North of Richmond          Oliver Anthony Music
3                     Cheeseburger In Paradise                 Jimmy Buffett
4   Changes In Latitudes, Changes In Attitudes                 Jimmy Buffett
..                                         ...                           ...
95                            Bring Me to Life                   Evanescence
96                                      Demons                      Doja Cat
97                           Edge of Seventeen                  Stevie Nicks
98                             Bad Moon Rising  Creedence Clearwater Revival
99                                    Rhiannon                 Fleetwood Mac

[100 rows x 2 columns]

## Part 2

https://www.billboard.com/charts/billboard-200/

In [21]:
responsebb = requests.get('https://www.billboard.com/charts/billboard-200/')
responsebb

In [38]:
soupbb = BeautifulSoup(responsebb.content, 'html.parser')
# soupbb.prettify()

In [86]:
songsbb = []
artistsbb = []
songsbb_tags = soupbb.select('ul > li > ul > li> h3 #title-of-a-story.c-title')
for tag in songs_tags:
    tag_text = tag.text.strip()
    if tag_text not in ['Imprint/Promotion Label:', 
                        'Follow Us',
                        'Have a Tip?',
                        'The Daily',
                        'Additional Awards',
                        'Gains in Weekly Performance'
                       ] :
        songsbb.append(tag_text)
        span = tag.find_next()
        artistsbb.append(span.text.strip())
songsbb = songsbb[1:201]
artistsbb = artistsbb[1:201]

In [87]:
dfbb = pd.DataFrame({'Song': songsbb, 'Artist': artistsbb})
dfbb

                                Song              Artist
0                             Utopia        Travis Scott
1                One Thing At A Time       Morgan Wallen
2                     Unreal Unearth              Hozier
3                  Barbie: The Album          Soundtrack
4                          Midnights        Taylor Swift
..                               ...                 ...
195                  Whole Lotta Red       Playboi Carti
196              Hot Rocks 1964-1971  The Rolling Stones
197  Man On The Moon: The End Of Day            Kid Cudi
198                          DS4EVER               Gunna
199                          Portals    Melanie Martinez

[200 rows x 2 columns]

In [89]:
merged = pd.concat([df, dfbb]).drop_duplicates().reset_index(drop=True)

merged

                                           Song                Artist
0                                Margaritaville         Jimmy Buffett
1                                   Come Monday         Jimmy Buffett
2                    Rich Men North of Richmond  Oliver Anthony Music
3                      Cheeseburger In Paradise         Jimmy Buffett
4    Changes In Latitudes, Changes In Attitudes         Jimmy Buffett
..                                          ...                   ...
292                             Whole Lotta Red         Playboi Carti
293                         Hot Rocks 1964-1971    The Rolling Stones
294             Man On The Moon: The End Of Day              Kid Cudi
295                                     DS4EVER                 Gunna
296                                     Portals      Melanie Martinez

[297 rows x 2 columns]